body{
    background-color: #181921
    }
    h1{
        color: white;
        font-family: calibri;
    }
    p{
        color: white;
        font-family: calibri;
    }
    h3{
        color: white;
        font-family: calibri;
    }
    th{
        color: white;
        font-family: calibri;
    }
    ul{
        color: white;
        font-family: calibri;
    }
    td{
       color: white;
        font-family: calibri;
    }
    a{
        color: white;
        font-family: calibri;
    }
    label{
        color: white;
        font-family: calibri;
    }
    ol{
        color: white;
        font-family: calibri;
    }
